body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Countdown__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.Countdown__spans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 50px;
}

@media screen and (max-width: 300px) {
    .Countdown__block input {
        font-size: 12px;
    }
    .Countdown__spans {
        font-size: 24px;
    }
    .Countdown__deadline {
        font-size: 14px;
    }
}
